body {
    background: url("images/background.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


#main {
width: 1200px;
height: 600px;
background: none;
margin: 25px auto;
padding: 0px 0px 0px 250px;
}

h1 {
    text-align:center;
    font-family:"Courier";
    font: 100pt;
    color: #ffffff;
}

hr {
    height: 2px;
    color: #631c1c;
}

h2 {
    text-align:left;
    font-family:"Consolas";
    font-size: 72pt;
    color: #ffffff;
}
p {
    font-family:"Candara";
    font-size:16pt;
    text-align: justify;
    color: #ffffff;
    margin: 0px 100px 0px 250px;
}

p i {
    color: #e2b7ff;
}

p a:link{
    color: #e2b7ff;
}
  
p a:visited {
    color: #b7ffed;
    text-decoration: underline;
  }
  
p a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
p a:active {
    color: #00fabb;
    background-color: transparent;
    text-decoration: underline;
  }

.footer {
    color: #e2b7ff;
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 0px;
    background-color: black;
    text-align: center;
    position: fixed;
}

.sidenav {
    width: 160px;
    position: fixed;
    top: 190px;
    left: 120px;
    overflow-x: hidden;
    padding-top: 20px;
    color: #ffffff;
    text-align:center;
    font-family:"MS Sans Serif";
    
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

    width: 78px;
    height: 54px;
    text-align: center;
    background: url("images/file_closed.png") no-repeat center;
    display: inline-block;
}

.sidenav a:hover {
    width: 78px;
    height: 54px;
    background: url("images/file_open.png") no-repeat center;
}

.about {
    width: 160px;
    position: fixed;
    top: 40px;
    left: 120px;
    overflow-x: hidden;
    padding-top: 20px;
    color: #ffffff;
    text-align:center;
    font-family:"MS Sans Serif";
}

.about a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

    width: 82px;
    height: 88px;
    text-align: center;
    background: url("images/about.png") no-repeat center;
    display: inline-block;
}

.about a:hover {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;

    width: 82px;
    height: 88px;
    text-align: center;
    background: url("images/about_hover.png") no-repeat center;
    display: inline-block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

